@charset 'UTF-8';

html,body{margin:0px;padding:0px;width:100%;}
#vue-app{margin:0px;padding:0px;width:100%;}
body{font-size:14px;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;color:#fff;line-height:1.428571429;color:#222}
*,*:before,*:after{box-sizing: border-box}

.table-fixed{table-layout:fixed}
.hor-ver-mid{top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%)}
.transition-ones{transition: all 1s linear;-webkit-transition: all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;}
.transition-halfs{transition: all .5s linear;-webkit-transition: all .5s linear;-moz-transition: all .5s linear;-o-transition: all .5s linear;}
.float-left{float: left}
.float-right{float: right}
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.text-elipse{text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.clear-fix{clear:both}
.hide{display: none}
.common-container{margin:0px 0px;padding:10px}
.row-new,.container{margin-left: auto;margin-right: auto;min-height: 100%}
.row-new:before,.row-new:after,.container:before,.container:after{content: "";display: table;box-sizing: border-box;clear:both}
@media(min-width:320px){
    .min-max-640{max-width: 640px;display: inline-block}
    .container{width:100%;max-width: 750px}
}
@media(min-width:768px){
    .container{width:100%;max-width: 750px}
}
@media(min-width:992px){
    .container{width: 968px;max-width: 100%}
}
@media(min-width:1120px){
    .min-max-640{width: 100%;max-width: 100%}
    .container{width: 1100px;max-width: 100%}
}
/* @media(min-width:1400px){
    .min-max-640{width: 100%;}
    .container{width: 1370px;max-width: initial}
} */

@media(min-width:312px){
    .content-wrap{margin:0px 0px 20px;display: inline-block}
    .content-25-to-50{width:100%;}
    .content-25-to-all-50{width:48%;}
    .content-30-to-50{width:100%;}
    .content-30-to-100{width:100%;}
    .content-75-to-100{width:100%;float:none}
    .content-25-to-100{width:100%;}
    .content-40-to-100{width:100%;}
    .content-40-to-40{width:98%;}
    .content-40-to-40-full{width:100%;}
    .content-50-to-100{width:100%;display: block;}
    .content-60-to-100{width:100%;display: block;}
    .content-60-to-60{width:98%;display: inline-block}
    .content-60-to-60-full{width:100%;display: inline-block}
    .content-55-to-55{width:100%;display: inline-block}
    .content-100-to-50{width:100%;display: block;float:none}
    .content-mid-100{width:100%}
    .float-left-to-100{float:none;width: 100%}
    .float-left-to-none{float:none;}
}
@media(min-width:540px){
    .float-left-to-100{float:none;width: auto}
}
@media(min-width:750px){
    .content-wrap{margin:0px 1% 20px}
    .content-25-to--all-50{width:48%;}
    .content-25-to-50{width:48%;}
    .content-25-to-100{width:98%;}
    .content-30-to-50{width:48%;}
    .content-30-to-100{width:98%;}
    .content-40-to-100{width:98%;}
    .content-40-to-40{width:38%;}
    .content-40-to-40-full{width:40%;}
    .content-75-to-100{width:98%;float:none}
    .content-50-to-100{width:98%;display: block;max-width: 640px}
    .content-60-to-100{width:98%;display: block;}
    .content-60-to-60{width:58%;display: inline-block}
    .content-60-to-60-full{width:60%;display: inline-block}
    .content-55-to-55{width:55%;display: inline-block}
    .content-100-to-50{width:48%;display: block;max-width: 640px;float:left}
    .content-mid-100{width:40%}
    .float-left-to-100{float:left}
    .float-left-to-none{float:left}
}
@media(min-width:1120px){
    .content-wrap{margin:0px 1% 20px}
    .content-25-to-all-50{width:23%;}
    .content-25-to-50{width:23%;}
    .content-25-to-100{width:23%;}
    .content-30-to-50{width:31%;}
    .content-30-to-100{width:31%;}
    .content-40-to-40{width:38%;}
    .content-40-to-100{width:38%;}
    .content-40-to-40-full{width:40%;}
    .content-75-to-100{width:73%;float:left}
    .content-50-to-100{width:48%;display: inline-block}
    .content-60-to-100{width:58%;display: inline-block}
    .content-60-to-60{width:58%;display: inline-block}
    .content-60-to-60-full{width:60%;display: inline-block}
    .content-100-to-50{width:98%;display: inline-block;float: none}
    .content-mid-100{width:45%}
}
.btn{outline: none;border-style: none;cursor: pointer}
.btn-padding{padding:5px 20px}
.btn-danger{color:#fff;background-color: rgb(233, 3, 4);opacity: 0.8;border:1px solid rgba(233,3,4,0.8)}
.btn:hover{opacity: 1}
.btn-orange,.btn-orange.active{background: rgba(255, 102, 51, 1);border-color: rgb(255, 102, 51);color:#fff}
.el-button.btn-orange:hover{background: rgba(255, 102, 51, 0.7);border-color:rgb(255, 102, 51);color:#fff}
.btn-orange:focus{background: rgba(255, 102, 51, 1);border-color:rgb(255, 102, 51);color:#fff}
.btn-success{background: rgb(133, 206, 97);border-color: #67c23a;color:#fff}
.btn-success:hover{background: rgba(133, 206, 97, 0.7);color:#fff}
.btn-success:focus{background: rgb(133, 206, 97);border-color: #67c23a;}
.el-button.table-btn{margin:5px 3px}
@media(min-width:318px){
    .two-one button.left-btn,.two-one button.right-btn{float:none}
}
@media(min-width:768px){
    .two-one button.left-btn{float:left}
    .two-one button.right-btn{float:right}
}

.table-span{padding:5px;font-size:12px;display:inline-block;margin:5px}
.goTop{z-index:1190;position: fixed;right: 40px;bottom:100px;font-size:26px;color:#ccc;background-color:#eee;width:50px;height:50px;opacity: 0.5;cursor: pointer;text-align: center;padding:4px 0px}
.goTop:hover{opacity: 0.8}
.left-aside{opacity:0.7;border-radius:3px;position: absolute;top:0px;left:15px;width:40px;text-align: right;font-size: 16px;padding:10px 11px 12px 0px;background-color: #e90304;color:#fff;margin-top:70px}
.left-aside:hover{opacity: 0.9}
.backdrop{position: fixed;width:100%;height: 100%;top:0px;left:0px;background-color: rgba(0, 0, 0, 0.5);z-index:1300}
/*排行类通用 start*/
.rank-common,.rank-text{margin-bottom:20px}
.rank-common>.list-name{padding:10px 0px 9px;letter-spacing: 3px;text-align: center}
.rank-common>.list-name>span{padding:10px 10px 8px;border-bottom:3px solid #e90304}
.rank-common>.left-name{padding:10px 0px 9px;letter-spacing: 3px;}
.rank-common>.left-name>span{padding:10px 10px 8px;border-bottom:3px solid #e90304}
.page-header>.rank-common>.left-name{margin:10px 20px 30px}
.rank-text{}
.rank-text>.list-name{padding:10px 0px;letter-spacing:3px;}
.rank-text>.list-name>span{padding:10px 10px 8px;border-bottom:3px solid #e90304}
/*排行类通用 start*/

/*常用文字排版 start*/
h3.com-title{width:100%;text-align:center;color:#333333;font-size:20px;margin:20px 0px 64px;position:relative;}
h3.com-title:before{content:'';position:absolute;width:100%;height:1px;background-color:#e5e5e5;bottom:0px;left:0px}
.zn-name{padding-bottom:10px;display:inline-block;position:relative;z-index:1000}
.zn-name:before{z-index:1000;content:'';position:absolute;bottom:-0.5px;height:4px;width:100%;background-color:#e90304}
.eng-name{position:absolute;bottom:-30px;color:#e90304;font-weight:bold;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-o-transform:translateX(-50%);}
.problems-case{margin-bottom: 5px;}
.problems-case > h4{font-size: 14px;font-weight: bold;margin: 0 0 15px;}
.problems-case > div > p{
		line-height: 22px;
    margin: 0;
    padding: 0 10px;
}
.problems-case > div {
    background-color: #f0f0f0;
   /*  border-radius: 5px; */
    color: #333;
    margin-bottom: 10px;
    padding: 10px 0;
    text-indent: 24px;
}
/*常用文字  end*/

/*animate start*/
@keyframes keepRotate{
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
    }
}
@-webkit-keyframes keepRotate{
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
    }
}
@-o-keyframes keepRotate{
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
    }
}
@-moz-keyframes keepRotate{
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
    }
}
.keepRotate{animation: keepRotate 1s linear infinite;-webkit-animation: keepRotate 1s linear infinite;-o-animation: keepRotate 1s linear infinite;-moz-animation: keepRotate 1s linear infinite;transform-origin: 50% 50%;-webkit-transform-origin: 50% 50%;-o-transform-origin: 50% 50%;-moz-transform-origin: 50% 50%}
/*animate start*/

/*重写ui框架css start*/
#loading-bar{height:2px;background-color: #e90304;z-index:9999;position: fixed;top:0px;left:0px;transition: all .25s linear;-webkit-transition: all .25s linear;-moz-transition: all .25s linear;-o-transition: all .25s linear;}

.el-checkbox.is-bordered{padding:1px 20px 1px;margin-top:3px}
.el-checkbox-button.danger-checkbox>span.el-checkbox-button__inner{padding:8px 15px;border-radius: 0px;border:1px solid transparent;}
.danger-checkbox.is-checked>span.el-checkbox-button__inner{background-color: rgb(233, 3, 4);color:#fff;border-color:transparent;}
.danger-checkbox.is-checked.is-focus>span.el-checkbox-button__inner{border-color:rgba(233,3,4,0.8)}
.danger-checkbox:not(.is-checked)>.el-checkbox-button__inner:hover{color:#e90304}
.el-checkbox-button.small-checkbox>.el-checkbox-button__inner{padding:12px 17px}
.radio-list>.el-radio-button{margin:5px 20px;box-shadow: none!important}
.el-radio-button.danger-radio span.el-radio-button__inner{border-radius: 0px;border:none!important}
.el-radio-button.danger-radio.is-active span.el-radio-button__inner{border:none;border-radius:0px;background-color: #e90304;border:none;box-shadow: none!important;-webkit-box-shadow:none!important}
.el-radio-button.danger-radio:not(.is-active) span.el-radio-button__inner:hover{color:#e90304}
.small-radio>.el-radio-button.danger-radio span.el-radio-button__inner{font-size:12px}

.page-block{padding:10px 0px;position: relative;left:-5px}
.page-block .el-pager>li{min-width: 30px;height:30px;margin:0px 4px;margin:0px 1px;border-radius:100%;transition: all .5s linear;-webkit-transition: all .5s linear;-o-transition: all .5s linear;-moz-transition: all .5s linear}
.page-block .el-pager>li.active{background-color:#333;color:#fff;}
.page-block .el-pager>li:not(.active):hover{color:#e90304;}
.page-block>.el-pagination>button{min-width: 30px}
.page-block>.el-pagination>button:hover{color:#e90304}

.avatar-uploader .el-upload {border: 1px dashed #d9d9d9; border-radius: 6px;cursor: pointer;position: relative;overflow: hidden;}
.avatar-uploader .el-upload:hover { border-color: #409EFF;}
.avatar-uploader .avatar-uploader-icon {font-size: 28px;color: #8c939d;width: 178px;height: 178px;line-height: 178px;text-align: center;line-height: 6}
.avatar {width: 178px; height: 178px; display: block;}
/*重写ui框架css end*/

/*infinite-scroll start*/
.infinite-scroll{padding:10px;margin:10px 0px;font-size:16px;cursor: pointer}
.infinite-scroll>span:first-child{color:#999;cursor: no-drop}
.infinite-scroll>span:first-child i{margin:0px 10px;font-size:24px;position: relative;top:3px}
/*infinite-scroll end*/

/*scrollbar start*/
.scroll-bar{z-index:999;position: absolute;background-color: rgba(200,200,200,0.3);border-radius: 10px;opacity: 0}
.scroll-bar:hover{background-color: rgba(200,200,200,0.7)}
/*scrollbar end*/

/*业务页面头部菜单 start*/
nav ul{list-style: none}
.header-container{z-index:1030;position:fixed;top:-1px;left:0px;width:100%;height: 70px;background-color:#333;padding:5px;}
.header-container>nav{position: relative;height: 100%;}
.header-container>nav>div{position: relative;height: 100%;display: inline-block;z-index:1000}
.header-container>nav>div img{position: relative;height: 100%;}
.header-menu-icon{display: none;}
.header-container>nav .header-menu{float: right;padding:10px;height: auto;position: relative;}
.header-container>nav .header-menu-list{float: right;padding:10px 0px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1)}
.header-container>nav .header-menu-list>li{border-radius: 2px;float: left;color:#fff;font-size:16px;padding:10px;margin:0px 10px;cursor:pointer;text-align: center}
.header-container>nav .header-menu-list>li:hover{background-color: #e90304;}
.header-container>nav .header-menu-list>li.active{background-color: #e90304}
.header-container>nav>.user-info{float: right;cursor: pointer;margin-left: 20px}
.header-container>nav>.user-info>.msg-tip{position: absolute;right: 3px;color:#fff;background-color: #e90304;padding:3px 4px;font-size: 12px;border-radius: 100%}
.user-info>.user-img-wrap{padding:5px 6px;border-radius: 100%;overflow: hidden;margin:3px 5px 5px;background-color:#eee}
.user-info>.user-img-wrap>img{height: 40px;width: 40px;}
.user-info>.user-menu-list{box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;padding:5px;z-index:2000;position: absolute;top:60px;right:-30px;margin:0px;background-color:#333;display: none;width:130px}
.user-info>.user-menu-list>li{float: none;font-size:16px;margin:0px 10px;padding:10px 15px;color:#fff;text-align: center}
.user-info>.user-menu-list>li:hover{background-color: #e90304;border-radius: 2px}
.user-info>.user-menu-list>li.active{background-color: #e90304;}
.user-info>.menu-show{display: block}
.header-container>nav>.visitor-operation{float: right}
.header-container>nav>.visitor-operation p{float: left;color:#fff;padding:5px 20px;cursor: pointer;font-size:16px}
.header-container>nav>.visitor-operation p:hover{color:#e90304}
.header-container>nav .header-menu>.menu-show{display:block}
.header-container>nav .header-menu-icon:hover~ul{display: block;}
.header-container>nav .header-menu:hover ul{display: block;}
.header-container>nav .user-img-wrap:hover~ul{display: block;}
.header-container>nav .user-info:hover ul{display: block;}
@media(min-width:320px){
    .header-container>nav .header-menu{padding:17px;cursor: pointer;}
    .header-container>nav>.header-logo-wrap{height: 40px;margin:10px 0px}
    .header-container>nav .header-menu-icon{width:30px;height: 30px;display: block;font-size:30px;color:#fff;margin:0px}
    .header-container>nav .header-menu-list{padding:5px;z-index:2000;position: absolute;top:60px;right:-5px;margin:0px;background-color:#333;display: none;width:70px;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);}
    .header-container>nav .header-menu-list>li{float: none;font-size:12px;padding:5px;margin:5px 0px}
    .user-info>.user-img-wrap{margin:8px 5px 5px;}
    .user-info>.user-img-wrap>img{height: 30px;width: 30px;}
    .header-container>nav>.user-info>.msg-tip{padding:2px 3px;font-size:10px;right:2px;top:3px}
    .user-info>.user-menu-list{right:-13px;width:80px}
    .user-info>.user-menu-list>li{float: none;font-size:12px;margin:5px;padding:5px;color:#fff;text-align: center}
}
@media(min-width:768px){
    .header-container>nav .header-menu{padding:12px;cursor: pointer;}
    .header-container>nav .header-menu-icon{width:40px;height: 40px;font-size:38px}
    .header-container>nav>.header-logo-wrap{height: 100%;margin:0px}
    .header-container>nav .header-menu-list{padding:10px 0px;right:-30px;width:130px}
    .header-container>nav .header-menu-list>li{font-size:16px;padding:10px 15px;margin:5px 10px}
    .user-info>.user-img-wrap{margin:3px 5px 5px}
    .user-info>.user-img-wrap>img{height: 40px;width: 40px;}
    .header-container>nav>.user-info>.msg-tip{padding:3px 4px;font-size:12px;right:3px;top:0px}
    .user-info>.user-menu-list{padding:5px;right:-30px;margin:0px;width:130px}
    .user-info>.user-menu-list>li{float: none;font-size:16px;padding:10px 15px;margin:5px;color:#fff;text-align: center}
    .header-container>nav .header-menu:hover ul{display: block;}
    .header-container>nav .user-info:hover ul{display: block;}
}
@media(min-width:1360px){
    .header-container>nav .header-menu{padding:0px;box-shadow:initial;height:70px;position: relative;top:-5px}
    .header-container>nav .header-menu-icon{display: none}
    .header-container>nav .header-menu-list{padding:0px;width:auto;display:block;position: relative;top:-3px;left:0px;box-shadow: none}
    .header-container>nav .header-menu-list>li{float: left;margin:0px 10px;padding:25px 15px 25px}
    .header-container>nav .header-menu:hover ul{display: block;}
    .header-container>nav .user-info:hover ul{display: block;}
}
/*业务页面头部菜单 end*/

/*业务页面脚部菜单 start*/
.footer-container{position: relative;background-color: #333;padding:0px;margin:0px;min-height: 70px;font-size:12px;text-align: center}
.footer-container>.foot-content{position: relative;margin-bottom:10px}
.footer-container>div>.footer-logo-wrap{position: relative;height:50px;display: inline-block;z-index:990;position: absolute;top:5px;left:0px}
.footer-container>div>.footer-logo-wrap>img{position: relative;height: 100%;width:133px;}
.footer-container .footer-menu{padding:5px;height: auto;position: relative;list-style: none;}
.footer-container .footer-menu-list{padding:0px;margin:5px 0px;border-radius: 5px}
.footer-container .footer-menu-list>li{display: inline-block;color:#fff;font-size:16px;padding:5px 5px;margin:0px 10px;cursor:pointer;text-align: center}
.footer-container .footer-web-alert{width:85%;display: inline-block;}
.footer-container .footer-web-alert>p{color:#fff;font-size:12px;margin-top:0px}
/*业务页面脚部菜单 end*/

/*首页 start*/
.index-container{margin-top:80px;padding:0px 5px;min-height: 650px}
.carousel-wrap{position: absolute;display: inline-block;width:100%;max-width:640px;}
.carousel-wrap>.el-carousel>.el-carousel__container{height:360px}
.normal-news{width:100%;padding:0px 10px}
.normal-news:hover{box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1)}
.normal-news-list{list-style: none;padding:15px 0px;margin:0px;text-align: left;}
.normal-news-list li{padding:5px;cursor: pointer;opacity: 0.8;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width:100%}
.normal-news-list li:hover{opacity: 1;background-color: rgba(255, 102, 51, 0.7);color:#eee}
.normal-news-title{position: relative} 
.normal-news-title span.list-name{font-size:18px;border-bottom:3px solid #e90304;padding:10px;display: inline-block}
.normal-news-title span.more-btn{position: absolute;top:5px;right:0px;padding:10px;letter-spacing: 5px;color:#999;cursor: pointer}
.normal-news-title span.more-btn:hover{color:#333}
.rank-types{text-align: center;padding:8px;border-bottom: none}
.rank-types span{padding:10px 15px;cursor: pointer}
.rank-types .radio-list>.el-radio-button{margin:5px}
/* .rank-types span:hover{background-color: #e90304;color:#fff} */
.achive-rank{padding:0px 10px 10px 30px;margin-left: 640px;text-align: left;-moz-appearance: none !important; }
.achive-rank-list{overflow:auto;list-style: none;margin:0px;padding:0px;width:100%;text-align: center;height:285px;}
.achive-rank-list li{padding:5px;float:left;margin-bottom:3px;margin-top:3px;cursor: pointer}
.achive-rank-list li>img{width:40px;height: 40px;border-radius: 100%;}
.achive-rank-list li>span{padding:5px;position:relative;top:6px}
@media(min-width:318px){
    .index-center{text-align: center;min-height: 240px}
    .carousel-wrap{position: relative;}
    .carousel-wrap>.el-carousel>.el-carousel__container{height:240px}
    .achive-rank{margin:0px;padding:0px;width:100%;max-width:640px;display:inline-block;}
}
@media(min-width:750px){
    .carousel-wrap>.el-carousel>.el-carousel__container{height:360px}
}
@media(min-width:1120px){
    .index-center{text-align: left;min-height: 360px}
    .carousel-wrap{position: absolute}
    .achive-rank{margin:0px;margin-left: 660px;width:auto;padding:0px 10px 10px 30px;display:block}
}
.rank-list{text-align: center;}
.list-detail{list-style: none;padding:5px 0px;margin:0px}
.list-detail li{display: inline-block;margin:0px 5px;cursor: pointer;padding:3px}
.list-detail li:hover{background-color: #e90304;color:#fff;}
.other-thing:hover{box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1)}
.other-thing .thing-btn{padding:10px}
.other-thing .good-interview{padding: 10px 10px 15px;border-top:1px solid #e90304}
.other-thing .good-interview>.img-wrap{position: relative}
.other-thing .good-interview>.img-wrap img{width: 60px;height: 60px;border-radius: 100%;background-color: #eee}
.good-interview>.interview-content{text-indent:15px;text-align:left}
@media(min-width:312px){
    .other-thing,.rank-list{float: none;}
}
@media(min-width:750px){
    .other-thing{float: none;display: inline-block;}
    .rank-list{float: left;display: inline-block;}
}
@media(min-width:1120px){
    .other-thing{float: right}
    .rank-list{float: left}
}
.types-news .el-tabs__item{letter-spacing: 5px;}
/*首页 end*/

/*buyrecommend start*/
.my-bitcon {margin:20px 0px}
.my-bitcon span{font-size:16px;padding:10px 15px;background-color:#e90304;border-radius: 3px;color:#fff}
.select-types{margin-bottom:2px;border-bottom:1px solid rgba(255, 102, 51, 1);}
.sort-types{border-bottom:1px solid rgba(255, 102, 51, 1)}
.select-types>.types-label{padding:15px;font-size: 14px;display: inline-block;font-weight: bold;float:left}
.select-types>.types-list{list-style: none;margin:0px;display: inline-block;width:75%;padding:0px 0px 5px 10px}
.select-types>.types-list .radio-list>.el-radio-button{margin:10px}
.select-types>.types-list>li{display: inline-block;padding:10px;margin:3px;cursor: pointer}
.select-types>.types-list>li:hover{background-color:#e90304;color:#fff;border-radius: 3px}
.types-list>.radio-list>button.select-matches{color:#000;font-size:14px;padding:12px 20px;margin:0px 10px;position:relative;top:5px;background-color: #fff;}
.types-list>.radio-list>button.select-matches:hover{color:#e90304}
.types-list>.radio-list>button.select-matches.selected{color:#fff;background-color: #e90304}
.search-input{display: inline-block;padding:5px 0px;}
.types-select{margin-left:0px;margin-right:0px;}
.intros-wrap{margin-top: 20px;;position: relative}
.intros-wrap-index{padding-left:65px;width:100%;height:280px;overflow-y: hidden;overflow-x: auto}
.intros-wrap .intro-wrap{float:left;display: inline-block;width:250px;text-align: left;padding:5px;margin:10px 5px;box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1)}
.intros-wrap .intro-wrap-index{width:230px;margin:10px}
.intros-wrap .intro-wrap:hover{box-shadow: 0px 3px 7px 5px rgba(0, 0, 0, 0.1)}
.intros-wrap .intro-wrap>button{background-color: rgba(255, 102, 51, 0.8);border-color:rgba(255, 102, 51, 0.7)}
.intros-wrap .intro-wrap>button:hover{background-color: rgba(255, 102, 51, 1);}
.intros-wrap .intro-wrap>.match-name{text-align: center;font-size:16px;padding:10px}
.intros-wrap .intro-wrap>.intro-info{width:48%;position: relative;float: left}
.intros-wrap .intro-wrap>.intro-info>img{width:100%;height: 90px}
.intros-wrap .intro-wrap>.intro-info>button{width:100%}
.intros-wrap .intro-wrap>.intro-text{width:48%;padding:5px;word-break: break-all;display: inline-block;text-align: left;height: 150px;;overflow:hidden}
.intros-wrap .intro-wrap>button{float: right;width: 50%}
.intros-wrap .intro-wrap>.recomd-info{padding:8px 5px;}
.intro-rank-list{margin-top:20px;}
.intro-rank-list>.list-name{border-bottom: 1px solid #e90304}
@media(min-width:312px){
    .search-input{display: block}
    .intros-wrap{float: none;text-align: center}
    .intros-wrap>.intro-wrap{width:250px;float:none}
    .intros-wrap>.intro-wrap-index{width:250px;float:none}
}
@media(min-width:540px){
    .intros-wrap>.intro-wrap{float:left;width:45%}
    .intros-wrap>.intro-wrap-index{float:left}
}
@media(min-width:768px){
    .search-input{display: inline-block}
    .intros-wrap{float: left;text-align: left}
    .intros-wrap>.intro-wrap{width:45%}
    .intros-wrap>.intro-wrap-index{width:45%;}
}
@media(min-width:992px){
    .intros-wrap>.intro-wrap{width:30%;}
}
@media(min-width:1120px){
    .intros-wrap{float: left;text-align: left}
    .intros-wrap>.intro-wrap{width:250px}
    .intros-wrap>.intro-wrap-index{width:230px}
}
/*buyrecommend end*/

/*recommendrank start*/
.select-list{list-style: none;width:98%}
.select-list>li{padding:10px 20px;margin:0px 10px;display: inline-block;cursor: pointer}
.select-list>li:hover{background-color: #e90304;color:#fff}
.date-list{margin:5px 0px}
.date-list>li{padding:5px 20px}
.rank-rule>.rule-text{word-break:break-all;min-height:300px;border-left:1px solid rgba(0, 0, 0, 0.1);border-right:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.rank-rule .list-name,.last-rank .list-name{border-bottom: 1px solid #e90304}
.date-list{width:100%;padding:10px 5px;margin:0px;border-top:1px solid rgba(0, 0, 0, 0.1);border-left:1px solid rgba(0, 0, 0, 0.1);border-right:1px solid rgba(0, 0, 0, 0.1);}
.date-list .el-radio-button.danger-radio{margin:0px 5px}
.date-list .el-radio-button.danger-radio span.el-radio-button__inner{padding:10px 20px}
.type-rank-list{max-width: 98%}
/*recommendrank end*/

/*sendrecommend start*/
.match-time{border: 1px solid rgba(0, 0, 0, 0.1);width: 100%;margin:0px;padding:10px}
.match-time>button{padding:10px 20px;margin:3px 10px;border-radius:3px}
.match-time>button>.fa{margin:0px 10px 0px 0px;font-size:19px;position:relative;top:2px;transform: rotateZ(0deg);-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform-origin: 50% 50%;-webkit-transform-origin: 50% 50%;-moz-transform-origin: 50% 50%;-o-transform-origin: 50% 50%}
.match-time>button>.fa.rotate-180{transform: rotateZ(180deg);-webkit-transform: rotateZ(180deg);-moz-transform: rotateZ(180deg);-o-transform: rotateZ(180deg);}
.match-time>.el-radio-group .el-radio-button__inner{padding:15px 25px;}
/* .match-time>li>button{width: 120px;height: 50px}
.match-time>li:hover{background:none;} */
.match-select{padding:10px 5px;border-left:1px solid rgba(0, 0, 0, 0.1);border-right:1px solid rgba(0, 0, 0, 0.1)}
.match-select .el-checkbox{margin:10px;padding:5px 10px}
table .cell .el-checkbox-button>span.el-checkbox-button__inner,.match-select .check-all-btn .el-checkbox-button>span{border-left:1px solid #d8dce5;padding:12px 22px;border-radius: 4px}
table .cell>.el-checkbox-button.is-checked .el-checkbox-button__inner,.match-select .el-checkbox-button.is-checked .el-checkbox-button__inner{border-left:1px solid#409EFF}
table .cell>.el-checkbox-button.is-focus .el-checkbox-button__inner,.match-select .el-checkbox-button.is-focus .el-checkbox-button__inner{border-left:1px solid#409EFF}
.send-rule>.list-name{border-bottom:1px solid #e90304}
.match-list table .cell label.el-checkbox-button{display:inline-block;margin:2px 3px}
.commend-info>p{text-align: center;margin:10px 0px;}
.commend-info>p>span{padding:5px 0px;}
.commend-info>p>span:last-child{background-color: #eee}
/*sendrecommend end*/

/*in-time-goal start*/
.in-time-goal{min-height: 600px;}
/*in-time-goal end*/

/*register start*/
.edit-form{width:80%;max-width: 640px}
.label-tip h2,.label-tip p{margin:16px 0px}
.register-img{position: relative;padding:20px 5px}
.register-img img{width: 100%;position: relative;height: 100%}
.edit-form>.el-form>div:last-child button:last-child{margin-left:50px}
/*register end*/

/*login start*/
.login-dialog{min-width: 320px;width:40%}
.login-form{width:90%}
.login-dialog .el-dialog__body{padding-top:15px;padding-bottom:0px}
.login-form .miss-pass{display: inline-block;cursor: pointer}
.login-form .el-checkbox>span.el-checkbox__label{margin-right:25px}
.login-dialog .other-login{padding:5px 0px;text-align: center}
.login-dialog .other-login>label{color:#999;margin-right: 10px}
.login-dialog .other-login>span{font-size:20px;color:#999;margin:0px 5px 10px;padding:5px;cursor: pointer;display: inline-block}
.login-dialog .other-login>span:hover{color:#666}
/*login end*/

/*pensoncenter start*/
.left-menu{width:25%;margin:0px;padding:0px;text-align: center;z-index:999;min-height:1px;transition: left .5s linear;-webkit-transition: left .5s linear;-moz-transition: left .5s linear;-o-transition: left .5s linear;}
.left-menu li{display:inline-block;width:80%;min-width:150px;padding:10px 20px;background-color: #fff;margin:1px 0px;text-align: center;cursor: pointer;border-radius: 3px;border:1px solid rgba(0, 0, 0, 0.1)}
.left-menu li.active{color:#fff;background-color: #333;border: 1px solid #fff}
.left-menu li:hover{color:#fff;background-color: #333;border: 1px solid #fff}
.left-side-btn{display: none;;background-color:#e90304;width:30px;padding:5px 7px;color:#fff;position: absolute;cursor: pointer;left:165px;z-index:1000}
.left-menu:hover{left:0px}
@media(min-width:318px){
    .left-menu{width: 100px;position:fixed;left:-150px;top:70px}
    .left-menu li{margin:0px;box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);border-radius: 0px}
    .left-side-btn{display: block}
}
@media(min-width:1120px){
    .left-menu{width: 25%;position: relative;;left:0px;top:0px}
    .left-menu li{margin:1px 0px;box-shadow: initial}
    .left-side-btn{display: none}
}
.common-info{margin-bottom:20px}
.common-info .btn-list{text-align: center;padding:10px 0px}
.common-info .btn-list button{margin:0px 9px}
.short-info-wrap{border-bottom:1px solid rgba(0,0,0,0.1);display: inline-block;margin:0px 30px;text-align: center;padding:5px 0px}
.short-info-wrap img{width:80px;height:80px;border-radius: 100%;}
.short-info-wrap>.short-info{padding:5px;text-align: center}
.short-info-wrap>.short-info>.name{font-size:18px;font-weight:bold;padding:0px 2px}
.short-info-wrap>.short-info>.fa-mars{font-size:12px;color:#04eaf8}
.short-info-wrap>.short-info>.fa-venus{font-size:12px;color:#fe99d0}
.short-info-wrap>.short-info>.rank{font-size:12px;background-color:#f66008;color:#fff;padding:2px 3px;border-radius: 3px}
.short-info-wrap>.other-info{color:#aaa;font-size:12px}
.short-info-wrap>.other-info>i{padding:2px 0px 2px 3px}
.bottom-list{padding:10px 5px}
.bottom-list .info-text{margin:3px;font-size:12px;width:165px;float:left}
.achive-info{box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);padding:5px}
.achive-info:hover{box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);}
.two-colums-to-one>div.info-bar{padding:15px 10px;margin:10px 1% 10px;width:48%;background-color: #eee;display: inline-block}
.two-colums-to-one>div.btn-list{margin:10px 1% 10px;width:48%;display: inline-block}
.two-colums-to-one>div.bottom-list>p{margin:0px;padding:3px;width:70%;height:40px;overflow: hidden;word-break: break-all}
/*pensoncenter end*/

/*personinfo start*/
.achive-list{margin-bottom:30px}
.achive-list>.select-list{display: inline-block;width: auto;margin-left:50px;padding:5px 0px}
.achive-list>.select-list>li{padding:10px 15px}
.achive-list>.select-list>li:hover{background-color: #fff}
.achive-list>.select-list>li .el-checkbox-button>span:hover{background-color: #e90304;color:#fff}
.achive-list>.select-name{display: inline-block;margin:0px;margin-bottom:10px;text-align: center;font-size: 18px}
.achive-list>.select-name>span{margin-left:5px;padding:10px 10px 11px;border-bottom: 3px solid #e90304;display: inline-block;letter-spacing: 5px;text-align: center}
@media(min-width:318px){
    .achive-list .two-colums-to-one>div{width:98%}
    .achive-list>.select-name{width: 100%;border-bottom: 1px solid #e90304}
}
@media(min-width:768px){
    .achive-list .two-colums-to-one>div{width:48%}
    .achive-list>.select-name{width: auto;border-bottom: none}
}
.achive-list .two-colums-to-one>div{text-align: right;background-color: #eee;margin:5px;padding:5px;display: inline-block}
.achive-list .two-colums-to-one span{text-align:left;padding:10px 0px}
.left-menu-table{position: relative}
.left-menu-table>.left-menus{width:80px;list-style: none;margin:0px;padding:5px 0px;position: absolute;left:0px;top:0px;text-align: center}
.left-menu-table>.left-menus>.radio-list{width:80px;text-align: center}
.left-menu-table>.left-menus>.radio-list>.el-radio-button{margin:5px 0px;}
.left-menu-table>.left-menus>.radio-list>.el-radio-button>span{padding:10px 12px}
.left-menu-table>.left-menus>li{padding:10px 0px}
/*personinfo end*/

/*personfocus start*/
.focus-wrap{margin-bottom:15px;padding:10px 0px 0px}
.focus-wrap:hover{box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1)}
.focus-wrap>.short-info-wrap{margin-left:5px;margin-right:5px;margin-bottom:10px}
.focus-info>div{float: left}
.focus-info>div>p{margin:3px;letter-spacing: 1px}
.focus-wrap>.achive-text{background-color: #eee;margin-bottom:10px;display: inline-block}
.achive-text>p{margin:3px;padding:6px 3px}
.focus-wrap>.recommends{padding:3px 5px;display: inline-block;background-color: #eee;}
.focus-wrap>.recommends>p{margin:1px;padding:2px;text-align: left;border-bottom: 1px solid #e90304}
.focus-wrap>.recommends>ul{list-style: none;margin:0px;padding:5px}
.focus-wrap>.recommends>ul>li{padding:3px 3px;margin:0px}
.focus-wrap>.recommends>ul>li>span:not(:last-child){padding:10px 0px}
/*personfocus end*/

/*personmessage start*/
.person-messages .fa{font-size:20px;margin:5px 8px}
.message-wrap{padding:10px 5px;border-top:1px dashed rgba(0, 0, 0, 0.1);border-bottom:1px dotted rgba(0, 0, 0, 0.1);margin:5px 0px}
.message-wrap>.mess-content{display: inline-block}
.message-wrap>.mess-content>p{margin:8px 10px}
.message-wrap>.mess-content>p.mess-type{color:#e90304}
.message-wrap>.mess-content>p.mess-date{color:#999;font-size:12px}
.let-aside-icon{margin-top:10px;padding:6px 3px;border:2px solid rgba(0, 0, 0, 0.1);border-radius: 100%;color:rgba(255, 102, 51, 1);}
.message-wrap>.let-aside-icon>.fa{font-size:24px}
/*personmessage end*/

/*recommendrecord start*/
.recommend-record .hor-ver-mid{position: fixed;z-index:1300}
.row-new .form-control label{padding:10px;}
.row-new .form-control .mid-word{padding:10px 5px}
.row-new .form-control{margin-bottom: 10px}
.form-control .mu-date-picker,.form-control .mu-date-picker>.mu-text-field{width:100%;margin-bottom:0px;min-height:40px}
.mu-date-picker .mu-text-field-content{padding:0px}
.mu-date-picker .mu-text-field-content>.mu-text-field-hint{font-size:14px;padding:5px 15px;line-height:30px;color:#d8dce4}
.mu-date-picker .mu-text-field-content>.mu-text-field-input{border-radius:5px;border:1px solid #d8dce5;height:40px;padding:0px 15px}
.mu-date-picker .mu-text-field-content>div:last-child>.mu-text-field-line{height: 0px}

.mu-date-picker-dialog>.mu-dialog-body .mu-date-display{background-color: #e90304}
.mu-date-picker-dialog>.mu-dialog-body .mu-calendar-container .mu-day-button>.mu-day-button-bg{background-color: #e90304}
.mu-date-picker-dialog>.mu-dialog-body .mu-calendar-container .mu-calendar-actions>button{color:#e90304}
.mu-date-picker-dialog>.mu-dialog-body .mu-calendar-container>.mu-calendar-year-container .selected>.mu-year-button-text{color:#e90304}
.mu-date-picker-dialog>.mu-dialog-body .mu-calendar-container>.mu-calendar-year-container .mu-year-button.hover>.mu-year-button-text{color:#e90304}
/*recommendrecord end*/

/*recharge start*/
.recharge .charge-wrap{border:1px solid rgba(0, 0, 0, 0.1)}
.recharge .charge-wrap>.head{position:relative;font-size:16px;padding: 10px;border-bottom: 1px solid rgba(0, 0, 0, 0.1);background-color: rgba(255, 102, 51, 1);color:#fff}
.recharge .charge-wrap>.head>span:last-child{position: absolute;right:10px;top:12px;font-size: 14px;cursor: pointer}
.recharge .charge-wrap>.type-list{padding:25px 20px 20px}
.recharge .charge-wrap>.type-list>.user-name{border-bottom: 1px dashed rgba(0, 0, 0, 0.3);padding:10px 10px}
.recharge .charge-wrap>.type-list>.user-name>span:last-child{margin-left:50px}
.recharge .charge-wrap>.type-list>.charge-tip{font-weight: bold}
.recharge .charge-wrap>.type-list .el-input-group{width:20%;min-width: 160px}
.weixin-pay{padding:10px 0px}
.charge-btn{padding:5px 30px;font-size: 18px}
/*recharge end*/

/*withdraw start*/
.withdraw>.withdraw-wrap{border:1px solid rgba(0, 0, 0, 0.1)}
.withdraw-wrap .head{position: relative;padding:10px;border-bottom: 1px solid rgba(0, 0, 0, 0.1);background-color: rgba(255, 102, 51, 1);color:#fff}
.withdraw>.withdraw-wrap>.head>span:first-child{font-size:16px}
.withdraw>.withdraw-wrap>.head>span:not(:first-child){font-size:14px;cursor:pointer;float: right;margin-top:2px;border-left:1px solid #fff;padding:0px 10px}
.withdraw>.withdraw-wrap>.head>span:last-child{border-left: none}
.withdraw>.withdraw-wrap>.form-wrap{padding:30px 40px 20px}
/*withdraw end*/

/*announce start*/
.announce .get-url-wrap{padding:20px;border:1px solid rgba(0, 0, 0, 0.1);margin-bottom:20px}
.announce .get-url-wrap>label{padding:8px 5px}
.announce .label-wrap label{padding:10px;border-bottom:3px solid #e90304;display: inline-block;margin-bottom:10px}
/*announce end*/

/*advertise-edit start*/

/*advertise-edit end*/

/*recommender-info start*/
.info-list{padding:10px 5px}
.info-list>div{float:left;height:138px;margin:0px 1% 20px}
.info-list>div:not(:first-child){padding:10px;background-color: #eee;border-radius: 3px}
.info-list>div:not(:first-child)>p>span{margin-left:10px;letter-spacing: 1px}
.info-list>div>img{width:100px;height: 100px;border-radius: 100%}
.info-list>div>.user-name{font-size:20px;font-weight: bold;margin:5px 0px 0px}
.match-wrap{padding:5px 20px}
.match-wrap>.match-type{margin:0px 0px 3px;background-color: #409EFF;color:#fff;padding:3px;font-size:16px;letter-spacing: 3px}
.match-wrap>.match-date{text-align: left;margin:0px 0px 10px;font-size:15px;letter-spacing: 1px}
.match-wrap>.match-date~p{font-size:15px;margin:0px 0px 2px;text-align: left}
.match-wrap>.recommend-time{letter-spacing: 1px}
.match-wrap>span{width:44%;font-size:18px;text-align: center;display: inline-block}
.match-wrap>span:nth-child(2){color:#999;min-width:24px;width:7%}
.match-wrap>.match-predit{text-align: left;font-size:16px;color:#666}
.match-wrap>.result{font-size:20px}
/*recommender-info end*/

/*order-detail start*/
.order-detail-info{margin:15px 0px}
.order-detail-info>div:not(.left-name){border:1px solid #eee}
.order-detail-info>div:not(.left-name)>div{float: left;text-align: center}
.order-detail-info>div:not(.left-name)>div:first-child>p:first-child{margin:0px;padding:10px}
.order-detail-info>div:not(.left-name)>div:first-child>p:last-child{font-size:18px;font-weight:bold;margin:0px;padding:20px;border-top:1px solid #eee}
.order-detail-info>div:not(.left-name)>div:nth-child(2){padding:41.5px;font-size:16px;border-left:1px solid #eee}
.order-detail-info>div:not(.left-name)>div:nth-child(3){padding:41.5px;font-size:16px;border-left:1px solid #eee}
.order-detail-info>div:not(.left-name)>div:nth-child(4){padding:15px;font-size:24px;font-weight: bold;border-top:1px solid #eee}
.order-result>div:last-child{border:1px solid #eee;text-align: center}
.order-result>div:last-child>span{padding:10px;width:30%;font-size:18px;margin:10px 15px;background-color: #eee;display: inline-block}
/*order-detail end*/

/*order-buy-tip start*/
.order-buy-tip>P{margin:10px 0px;padding:5px;background-color: #eee;text-align: center}
/*order-buy-tip end*/

/*news-list start*/
.news-list>.news{display: inline-block;text-align: left;width:60%;min-width:320px;margin:15px}
.news .head{background-color: rgba(255, 102, 51, 1);padding:10px;color:#fff;font-size: 18px}

.news-content{min-height: 300px}
/*news-list end*/

/*百度富文本编辑器上传文件控件样式重构 start*/
.edui-dialog-container>.edui-modal{
	-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	outline:0;
	border:1px solid rgba(0,0,0,.2);
}
.edui-dialog-container>.edui-modal>.edui-modal-header{padding:13px 10px}
.edui-image-wrapper .edui-tab-nav{height:42px}
.edui-tab-nav>li{position:relative}
.edui-tab-nav>li>a:after{background:#999;height:3px;transition:all 250ms ease 0s;width:100%;content:'';left:0;bottom:0;position:absolute;transform:scale(0)}
.edui-tab-nav>li.edui-active>a:after{transform:scale(1);background:#ef473a}
.edui-tab-nav>li.edui-tab-item:hover>a:after{transform:scale(1);}
.edui-tab-nav>.edui-tab-item>a{padding:0px 16px!important;border:none!important;}
.edui-tab-nav>li.edui-active>a{border:none!important;}
.edui-tab-content>.edui-image-local>.edui-image-content{height:320px}

.edui-modal-footer>.edui-btn{font-size:14px;height:auto;padding:3px}
/*百度富文本编辑器上传文件控件样式重构 end*/